<%= form_for @user do |f| %>
    <%= f.hidden_field :email, :value => @temporary_user.email %>
    <div class="first-container">
      Name <%= f.text_field :first_name, placeholder: 'First', class: 'first_name', 'name' => 'first'%>
    </div>
    <div class="last-container">
      <%= f.text_field :last_name, placeholder: "Last", class: 'last_name', 'name' => 'last' %>
    </div>
    <div class="password-container">Password <%= f.password_field :password, placeholder: "Password", class: 'password', id: 'password', 'name' => 'password'%></div>
    <div class="confirmation-container"><%= f.password_field :password_confirmation, placeholder: "Confirmation", class: 'confirmation', 'name' => 'confirmation'%></div><br>
  <div class="actions">
    <%= f.submit 'Begin Exploring' %>
  </div>
<% end %>
