<div id="home_wrapper">
  <header>
    <% if current_user %>
      <div class="logout btn">
        <%= link_to "", session_path, method: :delete, class: "logout_link" %>  
        <%= image_tag "logout.svg" %>
      </div>
      
    <% else %>
      <%= link_to "Sign up", root_path, class: 'signup btn' %>
      <%= link_to "Log in", "#", class: 'login btn' %>
    <% end %>  
  </header>  

  <%= render partial: 'sessions/sessions_form' %>

  <% if current_user %>
  <h1>App Mockup</h1>
  <section class="mockup">
    <div class="overlay"></div>
    <%= image_tag "iphone_vector.svg" %>
  </section>
  <footer>
      <h3>
        Logged in as <%= current_user.first_name %>
      </h3>
    <% end %>
  </footer>
</div>

